<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Examples Tab -->
  <ion-tab title="Examples" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/examples">
    <ion-nav-view name="tab-examples"></ion-nav-view>
  </ion-tab>

  <!-- Author Tab -->
  <ion-tab title="Author" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/author">
    <ion-nav-view name="tab-author"></ion-nav-view>
  </ion-tab>


</ion-tabs>
